@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    background: linear-gradient(344deg,#e63946,#f1faee,#a8dadc,#457b9d,#1d3557);
    background-size: 420% 420%;
    animation: body 8s ease infinite;
}
@keyframes body {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 4rem;
    font-weight: bolder;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 1.2rem;
    color: #000000;
}

.buttonGenerate {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 45px;
    vertical-align: middle;
}

label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.parentPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top:20px
}

.buttonCopy {
    margin-left: 15px;
    border-radius: 10px;
    height: 45px;
    vertical-align: middle;
}

.password {
    width: 80%;
    font-size: 1.5rem;
    border-radius: 10px;
    height: 45px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    border: 0px solid #000000;
    vertical-align: middle;
}

input[type="number"] {
    width: 18%;
    padding: 0.5em;
    margin-left: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #f3f3f3;
    border-radius: 6px;
    color: #000000;
    font-size: 1rem;
}

input[type="checkbox"] {
    color: #000000;
    font-size: 5rem;
}

form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

